body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}
header {
  background-color: white;
  height: 500px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}

footer {
  text-align: center;
  padding-top: 20px;
  margin: auto;
}
img {
  padding: 15px;
  padding-bottom: 0px;
}
.text {
  padding: 0px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  font-size: 23px;
  color: hsl(218, 44%, 22%);
}
p {
  text-align: center;
  padding: 5px;
  margin-top: 0px;
  color: hsl(220, 15%, 55%);
}
